.header{
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}
.header h1{
    color: whitesmoke;
    text-align: center;
}

.searchField{
    display: flex;
}

.sideNav{
    text-align: center;
}


/* City Container */

#cityName{
    margin-top: 1rem;
    margin-right: 10rem;
    margin-left: 10rem;
    border: solid black;
    border-radius: .5rem;
    padding-left: 1rem;
    background-color:white;
}

#cityNameEL{
    font-size: 4rem;
}

#currentDate{
    font-size: 2rem ;
}


/* 5 Day Forecast */

.forecastContainer{
    display: flex;
    justify-content: space-around;
}

.forecastDays{
    height: inherit;
    width: 6rem;
    border-radius: .5rem;
    border: solid black;

}

/* UV Styling */

.uvLow{
    background-color: green;
    margin-right: 33rem;
    color: rgb(94.1%,91.8%,83.9%);
}

.uvModerate{
    background-color: rgb(94.1%,75.7%,18.8%);
    margin-right: 33rem;
    color: rgb(94.1%,91.8%,83.9%);
}

.uvHigh{
    background-color: rgb(100%,48.2%,0%);
    margin-right: 33rem;
    color: rgb(94.1%,91.8%,83.9%);
}

.uvVeryHigh{
    background-color: rgb(84.3%,23.1%,24.3%);
    margin-right: 33rem;
    color: rgb(94.1%,91.8%,83.9%);
}