.header{
    display: flex;
    justify-content: center;
}
.header h1{
    color: whitesmoke;
    text-align: center;
}

.weatherContainer{
   text-align: center;
}

.searchField{
    display: flex;
}

.sideNav{
    text-align: center;
}


/* 5 Day Forecast */

.forecastContainer{
    display: flex;
    justify-content: space-around;
}

.forecastDays{
    height: inherit;
    width: 6rem;
    border-radius: .5rem;

}